* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #006097;
    text-align: center;
    color: white;
    padding: 10px 0;
}

.logo {
    width: 150px; 
}

.menu {
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
  margin-top: 20px;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
}

.menu li a {
    display: block;
    padding: 10px 20px;
    background-color: #006097;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.menu li a:hover {
    background-color: #0272b3;
}

.content {
    padding: 20px;
    margin: 0 auto;
    max-width: 900px; 
}

h1 {
    margin-top: 30px;
    text-align: justify;
    font-size: 28px;
    color: #262727;
}

h2 {
    
    text-align: justify;
    font-size: 20px;
    color: #262727;
}

p {
    margin-top: 15px; 
    font-size: 16px; 
    text-align: justify;
    color: #262727;
}

.banner{
    width: 100%;
    margin-top: 15px;
}


pre {
    background-color: #dfdfdf;
    padding: 8px;
    border-radius: 5px;
    overflow-x: auto;
    margin-top: 15px;
}

pre1 {
    background-color: #dfdfdf;
    padding: 2px;
    border-radius: 5px;
    overflow-x: auto;
    margin-top: 15px;
}

.ex{
    margin-left: 25%;
}

blockquote {
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
    margin: 0;
    padding: 10px 20px;
    font-style: italic;
}

q {
    quotes: "“" "”"; 
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
    margin: 0;
    padding: 10px 20px;
    font-style: italic;
}

address{
    font-style: italic;
}

.minha-div {
    width: 45%; 
    background-color: #9bdb34; 
    color: white; 
    padding: 20px;
    border-radius: 8px;
    margin: 20px 2.5%; 
    max-width: 600px;
    text-align: center;
    box-sizing: border-box;
  }

  .destaque {
    color: #ff6600;
    font-weight: bold;
}

#destaque {
    color: #09ff00;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .rodape a {
    text-decoration: none;
    color: white;
}

.rodape p {
    margin-bottom: 5px;
    color: white;
}

.rodape span {
    font-size: 14px;
    color: white;
}

.rodape {
    background-color: #006097;
    padding: 30px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Mobile */
@media (max-width: 768px) {
    .rodape {
        padding: 30px 0;
    }
}
